---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2021 - 2024",
    title: "Senior Ruby on Rails Engineer",
    company: "ClickDimensions",
    description:
      "Trabajo como Ruby Enginner en una plataforma de big data.",
    link: "https://twitch.tv/adansuku",
  },
  {
    date: "2019 - 2021",
    title: "Ruby on Rails Engineer",
    company: "Beruby España",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
  {
    date: "2016 - 2019",
    title: "Ruby on Rails Developer",
    company: "2Bedigital",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
