---
import ExperienceItem from "./ExperienceItem.astro"
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Experience = {
  title: string;
  company: string;
  date: string;
  description: string;
  link: string;
}
const x: Experience[] = t('about.experience') as unknown as Experience[];
---
<ol class="relative mt-16">
  {
    x.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
